.text {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #1e293b;
  margin-top: 32px;
  margin-bottom: 16px;
}

.body {
  display: flex;
  flex-direction: row;

  &-block-category {
    width: 306px;

    &-categ-text {
      margin-top: 9px;
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
    }

    &-categ-names {
      //align-items: center;
      margin-top: 8px;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #3b82f6;
      list-style: none;

      &-detailed {
        // display: inline;
        flex-direction: column; // Задаем вертикальное расположение
        margin-left: 32px;
        margin-top: 8px;
      }
    }

    &-price-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      color: #1e293b;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    &-range {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      & input {
        width: 147px;
        height: 40px;
        border-radius: 4px;
        background: inherit;
        border: 1px solid #cbd5e1;
        outline: none;
        display: flex;
        font-size: 14px;
        padding-left: 12px;
        box-sizing: border-box;
      }
    }

    &-btn {
      width: 100%;
      border: 1px solid #3b82f6;
      height: 48px;
      margin-top: 24px;
      border-radius: 4px;
      background-color: #3b82f6;
      color: white;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: #3b82f6;
        background-color: white;
      }
    }
  }

  &-block-searched {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    width: 966px;

    &-head {
      display: flex;
      flex-direction: row;
      height: 40px;
      margin-bottom: 16px;

      &-founded {
        width: 624px;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: #64748b;
        margin: 8px 12px 8px 0px;
      }

      &-text {
        font-size: 16px;
        line-height: 24px;
        color: #1e293b;
        margin: 8px 12px 8px 12px;
      }

      &-btn {
        margin-left: 3px;
        width: 200px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #cbd5e1;
        font-size: 16px;
        color: #000;
        cursor: pointer;
        position: relative;

        &-text {
          margin-left: 12px;
        }

        &-icon {
          position: absolute;
          top: 9px;
          bottom: 7px;
          right: 12px;
        }
      }
    }

    &-adverts {
      display: grid; // Включаем Grid
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 32px 24px;
      list-style: none;

      &-advert {
        width: 306px;
        height: 336px;
        //border: 1px solid #333;
        //background: #3b82f6;
        text-decoration: none;

        &-name {
          color: #3b82f6;
          font-size: 18px;
          margin-top: 8px;
        }

        &-price {
          font-size: 18px;
          font-weight: 900;
          line-height: 24px;
          text-align: left;
          color: #1e293b;
        }

        &-address {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
          color: #64748b;
        }

        &-date {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
          color: #64748b;
        }
        img {
          border-radius: 4px;
        }
      }
    }
  }
}
