.main-head {
  height: 84px;
  border-bottom: 1px solid #e2dbfc;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-head-search {
    display: flex;
    flex-direction: row;
    width: 100%;

    &-form {
      margin-left: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      &-category {
        border: 1px solid #3b82f6;
        height: 36px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        background: inherit;
        font-size: 14px;
        background-color: white;
        color: #3b82f6;
        padding: 8px 12px 8px 12px;
        gap: 8px;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: #3b82f6;
        }
      }

      & input {
        background: inherit;
        border: 1px solid #cbd5e1;
        outline: none;
        display: flex;
        font-size: 14px;
        gap: 12px;
        height: 35px;
        border-radius: 4px 0px 0px 4px;
        padding-right: 8px;
        padding-left: 8px;
        height: 35px;
        width: 738px;
      }

      &-btn {
        background: inherit;
        font-size: 14px;
        color: white;
        background-color: #3b82f6;
        border: 1px solid #3b82f6;
        padding: 6px 12px 6px 12px;
        gap: 8px;
        border-radius: 0px 4px 4px 0px;
        opacity: 0px;
        height: 36px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          background-color: white;
          color: #3b82f6;
        }
      }
    }
  }
}
