.input {
  background: inherit;
  font-size: 16px;
  color: rgba(100, 116, 139, 1);
  border: 1px solid rgba(203, 213, 225, 1);
  padding-left: 12px;
  width: 856px;
  height: 48px;
  gap: 168px;
  border-radius: 4px;
  opacity: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
