.text {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 16px;

  &-smaller {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;

    &-small {
      font-size: 16px;
      color: #1e293b;
    }

    &-gateway {
      font-size: 16px;
      color: #3b82f6;
      display: flex;
      background: inherit;
      margin-top: 4px;
      margin-bottom: 32px;
      gap: 12px;
      cursor: pointer;
    }
  }
}

.body {
  margin-top: 32px;

  .adverts {
    margin-top: 24px;
    display: grid; // Включаем Grid
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px 24px;
    list-style: none;

    &-new-advert {
      width: 300px;
      height: 336px;
      text-decoration: none;
      border: 3px dotted rgba(59, 130, 246, 0.16);
      background-color: rgba(59, 130, 246, 0.04);
      border-radius: 4px;
      font-size: 18px;
      color: rgba(59, 130, 246, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &:hover {
        background-color: rgba(59, 130, 246, 0.08);
        border-color: rgba(59, 130, 246, 0.32);
      }

      &:active {
        color: rgba(30, 58, 138, 1);
      }
    }

    &-advert {
      width: 306px;
      height: 336px;
      text-decoration: none;

      &-name {
        color: #3b82f6;
        font-size: 18px;
        margin-top: 8px;
      }

      &-price {
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
        text-align: left;
        color: #1e293b;
      }

      &-address {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: #64748b;
      }

      &-date {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: #64748b;
      }
      img {
        border-radius: 4px;
      }
    }
  }
}
