<div class="text">Рекомендации для вас</div>
<ul class="adverts">
  <app-advert
    title="Гитара Fender"
    imageUrl="pic/guitar.png"
    price="{20000}"
    address="Москва, Ленинский проспект"
    time="Сегодня 14:12"
  />

  <li class="adverts-advert">
    <img src="pic/guitar.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/girl.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/guitar.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/girl.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/guitar.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/girl.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/guitar.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/girl.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/guitar.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/girl.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/guitar.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
  <li class="adverts-advert">
    <img src="pic/girl.png" />
    <div class="adverts-advert-name">Гитара Fender</div>
    <div class="adverts-advert-price">20 000 ₽</div>
    <div class="adverts-advert-address">Москва, Ленинский проспект</div>
    <div class="adverts-advert-date">Сегодня 14:12</div>
  </li>
</ul>
